/* src/app/globals.css */
:root {
    --PrimaryColor: #15A3EF;
    --HoverColor: #66C3F4;
    --whiteColor:hsl(0,0%,100%);
    --blackColor: hsl(0,0%,18%);
    --textColor: hsl(240,1%,48%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyBg: hsl(0,0%,96%);
    --greyText:rgb(190,190,190);
    --inputColor:hsl(330,12%,97%);
    /* box-shadow: 0 2px 8px 2px rgba(178,178,178, 0.45);  */

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    transition: .3s ease;
    text-decoration: none;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}