.container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.content {
    padding: 1.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 650;
    margin-bottom: 1.5rem;
    color: #333;

}

.filterContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
   

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.filterGroup {
   
    display: flex;
    flex-direction: column;
}

.filterLabel {
    display: block;
     font-size: 15px;
     color: #555;
    margin-bottom: 0.5rem;
}

.dateInput {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    font-size: 14px;

}

.buttonGroup {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

.searchButton {
    background-color: #15a3ef;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;

    // transition: background-color 0.2s;

    &:hover {
        background-color: #66c3f4;
    }
}

.resetButton {
    background-color: hsl(0, 0%, 93%);
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;

    &:hover {
        background-color: #d1d5db;
    }
}

.tableContainer {
    overflow-x: auto;
}

.historyTable {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    background-color: #f9fafb;
}

.tableRow {
    border-bottom: 1px solid #e5e7eb;

    &:hover {
        background-color: #f9fafb;
    }
}

.tableCell {
    padding: 1rem;
    text-align: left;
    color: #333;
    font-size: 15px;
}

.emptyState {
    text-align: center;
    padding: 2rem 0;
    color: hsl(240, 1%, 48%);
}