
.offer {
    padding: 4rem 0;


    .secContainer {
        max-width: 1240px;
        /* Tăng max-width để mở rộng container */
        margin: 0 auto;
        padding: 0 0.5rem;
        /* Giảm padding từ 1rem xuống 0.5rem */

        .secIntro {
            text-align: center;
            margin-bottom: 3rem;

            .secTitle {
                color: var(--blackColor);
                line-height: 1.5rem;
                padding-bottom: .5rem;
            }

            p {
                margin-top: .5rem;
                font-size: 15px;
                color: var(--textColor);
                font-weight: 500;
            }
        }

        .mainContent {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            /* Giảm kích thước tối thiểu để hiển thị nhiều mục hơn */
            gap: 1.5rem;

            .singleOffer {
                background: var(--whiteColor);
                border-radius: 1rem;
                overflow: hidden;
                padding: .5rem;
                box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
                transition: all 0.3s ease;

                .icon {
                    font-size: 18px;
                    color: var(--textColor);
                }

                small {
                    font-weight: 500;
                    color: var(--textColor);
                }

                .destImage {
                    position: relative;
                    height: 180px;
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: transform 0.5s ease;
                    }

                    &:hover img {
                        transform: scale(1.05);
                    }

                    .discount {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        padding: 5px 10px;
                        background: var(--PrimaryColor);
                        color: var(--whiteColor);
                        border-radius: 3rem;
                        font-size: 12px;
                        font-weight: 500;
                        z-index: 1;
                    }
                }

                .offerBody {
                    padding: 1rem;

                    .price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 1rem;

                        h4 {
                            color: var(--PrimaryColor);
                            font-weight: 700;
                            font-size: 1.3rem;
                        }

                        .status {
                            padding: 5px 10px;
                            color: var(--whiteColor);
                            background: var(--blackColor);
                            font-size: 12px;
                            font-weight: 600;
                            border-radius: 3rem;
                        }
                    }

                    .routeInfo {
                        margin-bottom: 1rem;

                        h3 {
                            font-size: 1.1rem;
                            margin-bottom: 0.5rem;
                            color: var(--blackColor);
                        }

                        .timeInfo {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 0.5rem;

                            div {
                                text-align: center;

                                small {
                                    font-size: 0.8rem;
                                    color: var(--textColor);
                                }

                                p {
                                    font-weight: 600;
                                    margin-top: 0.2rem;
                                    color: var(--blackColor);
                                }
                            }
                        }

                        .stops {
                            display: block;
                            text-align: center;
                            color: var(--PrimaryColor);
                            font-weight: 500;
                            font-size: 0.9rem;
                        }
                    }

                    .amenities {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding: 1rem 0;
                        gap: .5rem;
                        border-top: 1px solid var(--greyText);
                        border-bottom: 1px solid var(--greyText);

                        .singleAmenity {
                            padding: 5px;
                            border-radius: 5px;
                            display: flex;
                            gap: .3rem;
                            flex-direction: column;
                            align-items: center;
                            width: 23%;
                            text-align: center;

                            small {
                                font-size: 0.7rem;
                            }
                        }
                    }

                    .btn {
                        margin-top: 1rem;
                        width: 100%;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        padding: .8rem;
                        color: var(--whiteColor);
                        font-weight: 600;
                        background: var(--PrimaryColor);
                        border-radius: 10px;
                        gap: .5rem;
                        transition: all 0.3s ease;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            background: var(--HoverColor);

                            .icon {
                                transform: translateX(5px);
                            }
                        }

                        .icon {
                            transition: transform 0.3s ease;
                            color: var(--whiteColor);
                        }
                    }
                }

                &:hover {
                    transform: translateY(-7px);
                    box-shadow: 0 4px 12px 4px rgba(178, 178, 178, 0.55);
                }
            }
        }
    }
}



/* Responsive styles */
@media (max-width: 768px) {
    .offer {
        padding: 2rem 0;

        .secContainer {
            padding: 0 0.3rem;
            /* Giảm padding thêm trên màn hình nhỏ */

            .mainContent {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media (max-width: 480px) {
    .offer {
        .secContainer {
            padding: 0 0.2rem;
            /* Giảm padding thêm nữa trên màn hình rất nhỏ */

            .secIntro {
                .secTitle {
                    font-size: 2rem;
                }
            }

            .mainContent {
                .singleOffer {
                    .offerBody {
                        .amenities {
                            .singleAmenity {
                                width: 48%;
                                /* Hiển thị 2 item/row trên mobile */
                            }
                        }

                        .timeInfo {
                            flex-direction: column;
                            gap: 1rem;
                        }
                    }
                }
            }
        }
    }
}